<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://twitter.com/CesarGiraldoN" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/CesarGiraldoNaranjo" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/cesar-giraldo/agile-scrum" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                
                {% set request_method =  app.request.method %}
                {% set currentPath = 'frontend_homepage' %}
                {% set params = {} %}
                {% if request_method == 'GET' %}
                    {% set currentPath = app.request.attributes.get('_route') %}
                    {% set params = app.request.attributes.get('_route_params') %}
                {% endif %}
                <p class="copyright text-muted">
                    <a href="{{ path(currentPath, params|merge({'_locale':'es'})) }}" title="{{'frontend.lang.spanish'|trans}}"><img src="{{ asset('bundles/backend/images/lang/spanish.png') }}" style="cursor: pointer; width: 26px;"/></a> &nbsp;
                    <a href="{{ path(currentPath, params|merge({'_locale':'en'})) }}" title="{{'frontend.lang.english'|trans}}"><img src="{{ asset('bundles/backend/images/lang/english.png') }}" style="cursor: pointer; width: 26px;"/></a>
                </p>
                
                <p class="copyright text-muted">Agile Scrum {{'now'|date('Y')}}</p>
            </div>
        </div>
    </div>
</footer>